---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const seo = {
  title: "Vitor Miura",
  description:
    "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.",
};
---

<Layout {seo}>
  <Navbar />
  <Container>
    <h2>About me</h2>
    <p>Sup 🤙, my name is Vitor!</p>
    <p>
      I’m currently working on my Bachelor of Computer Engineering degree at <a href="https://univesp.br/" target="_blank">Univesp</a> and working on my Technical Degree of Systems Development at <a href="https://www.sp.senai.br/">Senai</a>.
    </p>
    <p>
      At present I'm working as an apprentice at <a
        href="https://www.bosch.com.br/"
        target="_blank">Bosch</a
      >, doing systems development and industrial automation services.
    </p>
  </Container>
  <Footer/>
</Layout>
