---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const seo = {
  title: "Vitor Miura",
  description:
    "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.",
};
---

<Layout {seo}>
  <Navbar />
  <Container>
    <h2>About me</h2>
    <hr />
    <p>
      Estudante em desenvolvimento de sistemas e engenharia de computação, graduado em técnico em
      informática para internet.
    </p>
    <p>
      Atualmente atuando como aprendiz na <a
        href="https://www.bosch.com.br/"
        target="_blank">Bosch</a
      >, cursando análise e desenvolvimento de sistemas.
    </p>
    <p>Entusiasta de técnologia e estudante de desenvolvimento web.</p>
    <hr />
    <img src="https://c.tenor.com/22w_5_1Iee8AAAAS/monkey-lick.gif" alt="" width="300" height="300">
  </Container>
  <Footer/>
</Layout>
